

.product-cell {
  display: flex;
  align-items: center;
}

.product-image {
  max-width: 100px;
  height: auto;
  margin-right: 10px;
  /* Space between image and product name */
}

.product-name {
  font-weight: bold;
}

.price-cell {
  font-weight: bold;
  padding: 10px;
}

.quantity-cell {
  text-align: center;
}





table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {background-color: #f2f2f2;}